#pupt{
  width: 100%;
  height: auto;
}
#sign{
  position: fixed ; left: 500px;
  }
body{
  background-color:;
}
#sample{
  position: fixed; top:200px;
  width: 700px;
  height: 335px;
}
/* #signincard{
  background-color: #c3d9e0;
} */
